.section-6{
  background: url(../images/header-pattern.png) center;
}

@media not all and (min-resolution:.001dpcm){
  @supports (-webkit-appearance:none) and (stroke-color:transparent){
    .section-6{
      background: url("../images/header-pattern.png") center;
    }
  }
}

.assort-text{
    text-align: center;
    margin: 20px 0 30px;
    font-size: 14px;
    line-height: 25px;
}