.section-3{
    background: url(../images/address-bg.png) center no-repeat;
    background-size: cover;
    .slick-slider{
        .slick-slide{
            &.slick-cloned{
                opacity: 0;
            }
        }
    }
}

@media not all and (min-resolution:.001dpcm){
  @supports (-webkit-appearance:none) and (stroke-color:transparent){
    .section-3{
      background: url("../images/address-bg.png") center no-repeat;
    }
  }
}

.store-address{
    position: relative;
    margin: 0 auto 25px;
    img{
        width: 100%;
        object-fit: cover;
    }
    p{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.604);
        color: #fff;
        font-size: 15px;
        padding: 10px;
    }
    @include bp(sm){
        max-width: 480px;
    }
}