@import 'icons';

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro.eot');
    src: url('../fonts/MyriadPro.woff2') format('woff2'),
         url('../fonts/MyriadPro.woff') format('woff'),
         url('../fonts/MyriadPro.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }